################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Decorator/bin/Debug/net8.0
/Decorator/obj
/DesignPatternsExample/bin/Debug/net8.0
/DesignPatternsExample/obj
/.vs/DesignPatternsExample/v17
/FactoryMethod/bin/Debug/net8.0
/FactoryMethod/obj
/.vs/DesignPatternsExample/FileContentIndex
